/**
 * index.scss
 * - Add any styles you want here!
 */
body {
  background: #f5f5f5;
}

#text::after {
  content: '_';
  text-decoration: "underline";
  color: #8A2BE2;
  position: absolute;
  transform: translate(-100%, 0);
}
